.card {
  background-color: #16c9b4;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 1rem;
  width: 250px;
}

.card-title {
  background: linear-gradient(to bottom, #0d786b 0%, #16c9b4 50%, #0d786b 100%);
  border-bottom: 1px solid #fff;
  display: block;
  font-style: italic;
  padding: 0.3rem;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
}

.card-data-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.card-data-text {
  margin-left: 1rem;
}

.card-tags-title {
  border-bottom: 3px double #333;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 70%;
}

.card-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.card-img {
  object-fit: cover;
  height: 150px;
}

.card-detail {
  position: relative;
  bottom: 5px;
  right: -181px;
  border: 1px solid #000;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000;
  padding: 0.3rem;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
