@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

.advertsContainer {
  /* background-color: #ccc; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Montserrat, Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  margin: 0.5rem auto;
  margin-bottom: 70px;
  width: 90%;
}
