@font-face {
  font-family: Montserrat-Regular;
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Montserrat-Regular, Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  width: 55%;
  margin: 2rem auto;
}

.form-label-input,
.form-input,
.form-wrapper-checkbox {
  width: 60%;
  margin: 0 auto;
}

.form-label-input {
  font-size: 16px;
  padding: 0.5rem 0;
}

.form-input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: rgb(245, 240, 240);
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  padding: 0.5rem;
  outline: none;
  margin: 1rem auto;
  transition: background 0.5s;
}

.form-input:focus {
  background-color: #888;
  border-bottom: 4px solid #16c9b4;
  color: #fff;
}

.form-input:focus::placeholder {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.form-wrapper-checkbox {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}

.form-input-checkbox {
  margin: 0.5rem 0;
  width: 20px;
  height: 20px;
}

.form-label-checkbox {
  align-self: center;
  margin-left: 0.5rem;
}

.form-error {
  color: red;
  visibility: hidden;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 60%;
}

.visible {
  visibility: initial;
}

.btn-form {
  margin: 1rem 0;
}
