@font-face {
  font-family: Montserrat-Regular;
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Montserrat-Regular, Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  width: 50%;
  margin: 1rem auto;
}

.form-title {
  text-align: center;
}

.form-error {
  color: red;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 60%;
}

.visible {
  visibility: visible;
}
