@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

.btn {
  align-self: center;
  border: none;
  border-radius: 200px;
  box-shadow: 2px 2px 2px 0px #000000;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: Montserrat, Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif;
  height: 42px;
  min-width: 120px;
  padding: 0 1rem;
  text-shadow: 1px 1px 1px #000000;
  transition: all 0.3s;
  -webkit-box-shadow: 2px 2px 2px 0px #000000;
}

.btn:hover {
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 10px 0px #000000,
    5px 5px 7px 5px rgba(0, 0, 0, 0);
  text-shadow: 2px 2px 2px #000000;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 10px 0px #000000,
    5px 5px 7px 5px rgba(0, 0, 0, 0);
}

/* Variants */

.primary {
  background-color: #16c9b4;
}

.danger {
  background-color: red;
}

.disabled {
  background-color: #ccc;
}

.disabled:hover {
  box-shadow: 2px 2px 2px 0px #000000;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 2px 2px 2px 0px #000000;
  cursor: initial;
}

/* Margin */

.my-2 {
  margin: 0 2rem;
}

.mx-1 {
  margin: 1rem 0;
}

.mx-2 {
  margin: 2rem 0;
}
