.input-wrapper {
  width: 60%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
}

.label-input {
  font-size: 16px;
  padding: 0.5rem 0;
}

.input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: rgb(245, 240, 240);
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  padding: 0.5rem;
  outline: none;
  transition: background 0.5s;
}

.input:focus {
  background-color: #888;
  border-bottom: 4px solid #16c9b4;
  color: #fff;
}

.input:focus::placeholder {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
