/*Input Wrappers*/

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem auto;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 1rem auto;
}

/*Input Labels*/

.label-input {
  font-size: 16px;
  padding: 0.5rem 0;
}

.label-checkbox {
  align-self: center;
  margin-left: 0.5rem;
}

/* Inputs */

.input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: rgb(245, 240, 240);
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  padding: 0.5rem;
  outline: none;
  transition: background 0.5s;
}

.input:focus {
  background-color: #888;
  border-bottom: 4px solid #16c9b4;
  color: #fff;
}

.input:focus::placeholder {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.input-checkbox {
  margin: 0.5rem 0;
  width: 20px;
  height: 20px;
}
